.graph-default{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow-default{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trace-mainContent{
  height: calc(100% - 5px);
  overflow: scroll;
}

div.redTable {
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.divTable.redTable .divTableCell, .divTable.redTable .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.divTable.redTable .divTableBody .divTableCell {
  font-size: 14px;
  text-align: left;
}
.divTable.redTable .divTableRow:nth-child(even) {
  background: #F5C8BF;
}
.divTable.redTable .divTableHeading {
  background: #A40808;
}
.divTable.redTable .divTableHeading .divTableHead {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
.divTable.redTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.redTable .tableFootStyle {
  font-size: 13px;
}
.redTable .tableFootStyle .links {
	 text-align: right;
}
.redTable .tableFootStyle .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #A40808;
  padding: 2px 8px;
  border-radius: 5px;
}
.redTable.outerTableFooter {
  border-top: none;
}
.redTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}


.newStateTable-frame{
  height: calc(80% - 25px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.lockState-stateInfoDiv{
  text-align: left;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  background-color: #FFFFFF;
  width: calc(100% - 10px);
  margin-bottom: 10px;
  height: 21%;

}

div.newStateTable {
  background-color: #FFFFFF;
  width: 99%;
  text-align: center;
  border-collapse: collapse;
}
.divTable.newStateTable .divTableCell, .divTable.newStateTable .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.divTable.newStateTable .divTableBody .divTableCell {
  font-size: 14px;
  text-align: left;
}
.divTable.newStateTable .divTableRow:nth-child(even) {
  background: #F5C8BF;
}
.divTable.newStateTable .divTableHeading {
  background: #A40808;
}
.divTable.newStateTable .divTableHeading .divTableHead {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
.divTable.newStateTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.newStateTable .tableFootStyle {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #A40808;
}
.newStateTable .tableFootStyle {
  font-size: 13px;
}
.newStateTable .tableFootStyle .links {
	 text-align: right;
}
.newStateTable .tableFootStyle .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #A40808;
  padding: 2px 8px;
  border-radius: 5px;
}
.newStateTable.outerTableFooter {
  border-top: none;
}
.newStateTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.graphContainer{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.graphButton{
  display: flex;
  position: absolute;
  z-index: 200;
  width: 80px;
  height: 20px;
  bottom: 10px;
  right: 0px;
  font: "20px sans-serif";
}

.graphButton2{
  display: flex;
  position: absolute;
  z-index: 300;
  width: 80px;
  height: 20px;
  bottom: 10px;
  left: 0px;
  font: "20px sans-serif";
}

.graphTitleContaner{
  display: flex;
  position: relative;
  width: 150px;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: #888888;
  border-radius: 2px;
  border: 1px solid rgb(13, 189, 224);
  flex-direction: row;
  flex-grow: 1;
}

.graphTitleName{
  top: 0px;
  height: 20px;
  width: 100%;
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  border-bottom: 2px solid rgb(13, 189, 224);
  overflow: hidden;
}
.graphTitlePolicy{
  top: 22px;
  display:flex;
  position: absolute;
  width: 100%;
  height: 10px;
  flex-grow: 1;
  text-align: left;
  justify-content: left;
  flex-direction: column;
}

.graphTitlePolicyInner0{
  top: 0;
  position: relative;
  width: 100%;
  display: flex;
  background: #F5C8BF;
  height: 100px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.graphTitlePolicyInner1{
  top: 0;
  position: relative;
  width: 100%;
  display: flex;
  background: #A40808;
  height: 100px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}